:root > * {
    /* Code color shades */
    /* --md-code-fg-color: #abb2bf; */
    /* --md-code-bg-color: #282c34; */
    --md-code-border-radius: 8px;
}

.linenodiv a {
    color: var(--md-typeset-a-color);
}

label.md-nav__title {
    /* text-transform: uppercase; */
    margin-bottom: 10px;
}

/* -------------- Header ----------------- */

/* transparent header */
.md-header {
    background-color: var(--md-default-bg-color);
    color: var(--md-default-fg-color);
}
.md-header--shadow {
    box-shadow: none;
}

/* bigger font and logo */
nav.md-header__inner {
    min-height: 68px;
}
.md-header__button.md-logo img {
    height: 1.6rem;
    margin-top: 2px;
}
[dir="ltr"] .md-header__title {
    margin-left: 0.3rem;
}
.md-header__title {
    font-size: 1.4rem;
}

/* hide the forks icon */
.md-source__fact--forks {
    display: none;
}

/* search bar */
.md-search__form {
    border-radius: 99px;
    background-color: transparent;
    border: 0.5px solid var(--md-default-fg-color--lighter);
}

.md-search__input::placeholder {
    color: var(--md-default-fg-color--light);
}
.md-search__inner .md-search__icon{
    color: var(--md-default-fg-color--lighter);
}
/* ---------------- Typography ------------ */

.md-typeset h1 {
    color: var(--md-default-fg-color);
    font-size: 3em;
    font-weight: 800;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1;
}

.md-typeset h2 {
    font-size: 2rem;
}

.md-typeset h3 {
    font-size: 1.5rem;
}

.md-typeset h4 {
    font-size: 1.3rem;
}

.md-typeset h5 {
    font-size: 1rem;
}

.md-typeset p {
    line-height: 1.65em;
}

.md-typeset p code {
    --border-radius: 3px;
    --padding-block: 0.2em;
    --padding-inline: 0.33em;
    background-color: var(--md-code-bg-color);
    padding: var(--padding-block) var(--padding-inline);
    margin: calc(var(--padding-block) * -1) -0.125em;
}

dt {
    font-weight: 800;
    font-size: 1.1em;
}

/* Code Block Rounded Corners */

.md-typeset pre > code {
    border-radius: var(--md-code-border-radius);
}
table.highlighttable .linenos {
    border-top-left-radius: 0;
    border-bottom-left-radius: var(--md-code-border-radius);
}
table.highlighttable tr:nth-child(1) .linenos {
    border-top-left-radius: var(--md-code-border-radius);
}
table.highlighttable tr:nth-child(2) pre > code {
    border-top-right-radius: 0;
}

.highlight span.filename {
    border-top-right-radius: var(--md-code-border-radius);
    border-top-left-radius: var(--md-code-border-radius);
}

/* Code block annotations */

.md-annotation__index [data-md-annotation-id]:before {
    vertical-align: -0.05em;
}


/* --------------- Right-nav ------------------- */

/* highlighting */

nav.md-nav--secondary > ul > li.md-nav__item {
    border-left: 3px solid;
    border-left-color: var(--md-default-fg-color--lightest);
}
nav.md-nav--secondary > ul > li.md-nav__item:hover {
    border-left-color: var(--md-default-fg-color--lighter);
}
nav.md-nav--secondary > ul > li.md-nav__item:has(a.md-nav__link--active) {
    color: var(--md-typeset-kbd-accent-color);
    background-color: var(--md-typeset-kbd-color);
}
nav.md-nav--secondary > ul > li.md-nav__item .md-nav__link {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 6px;
}
